{% extends 'app/layouts/base.html' %} {% load static %}

<!-- Define page title for navbar -->
{% block title %}Confirm Transfer{% endblock %} {% block page_title %}Confirm
Transfer{% endblock %} {% block content %}
<div class="text-center">
  <!-- Imagens (Card + Avalanche Logo) -->
  <div class="position-relative d-flex justify-content-center">
    <img
      src="{% static 'app/images/red_card.png' %}"
      width="300"
      class="img-fluid rounded"
    />
    <img
      src="{% static 'app/images/avalanche_logo.png' %}"
      width="100"
      class="img-fluid position-absolute"
      style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
    />
  </div>

  <!-- Tipo de Criptomoeda -->
  <p class="mt-2 mb-1 text-white" style="font-size: 14px">AVAX</p>

  <!-- Formulário de Confirmação -->
  <form method="POST" class="mx-auto" style="max-width: 280px" action="/send-transaction/">
    {% csrf_token %}

    <!-- Valor a ser enviado (Input oculto para envio) -->
    <input type="hidden" name="value" value="{{ value }}" />
    <p
      class="text-white text-center fw-bold border-0"
      style="
        font-size: 50px;
        width: 100%;
        max-width: 250px;
        margin: 5px auto;
        display: block;
      "
    >
      $<span id="sendAmount">{{ value }}</span>
    </p>

    <!-- Linha separadora menor -->
    <hr
      class="mt-1 mb-2"
      style="border: 1px solid white; width: 50%; margin: auto"
    />

    <!-- Gas Fees -->
    <div class="mt-2 mb-1 text-start">
      <label
        class="form-label text-white d-block"
        style="font-size: 12px; margin-bottom: 3px"
        >Gas Fees</label
      >
      <p
        class="text-white border-0"
        style="font-size: 14px; margin: 0; padding: 0"
      >
        $<span id="gasFees">{{ gas }}</span>
      </p>
    </div>

    <!-- Número de telefone do destinatário (Input oculto para envio) -->
    <input type="hidden" name="phone_number" value="{{ recipient }}" />
    <div class="mt-2 mb-1 text-start">
      <label
        class="form-label text-white d-block"
        style="font-size: 12px; margin-bottom: 3px"
        >Recipient Phone Number</label
      >
      <p
        class="text-white border-0"
        style="font-size: 14px; margin: 0; padding: 0"
      >
        <span id="phoneNumber">{{ recipient }}</span>
      </p>
    </div>

    <!-- Botão de confirmação -->
    <button
      type="submit"
      class="btn btn-custom w-100 mt-3"
      style="
        background-color: #e84142;
        color: white;
        border-radius: 6px;
        font-family: 'Inter';
        padding: 8px;
      "
    >
      Confirm
    </button>
  </form>
</div>
{% endblock %}
