{% extends 'app/layouts/base.html' %} 
{% load static %}
{% block title %}
Send Crypto
{% endblock %}
{% block content %}

<div class="text-center">
  <h2 class="fw-bold">Send Crypto</h2>
  <h3>Sending $XX USDC</h3>

  <div class="position-relative d-flex justify-content-center my-4">
    <img
      src="{% static 'app/images/red_card.png' %}"
      width="200"
      class="img-fluid rounded"
    />

    <img
      src="{% static 'app/images/avalanche_logo.png' %}"
      width="100"
      class="img-fluid position-absolute"
      style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
    />
  </div>

  <form method="POST">
    {% csrf_token %}

    <label class="form-label text-white">Country/Region</label>
    <div class="input-group mb-3">
      <span class="input-group-text bg-dark text-white">
        <img src="https://flagcdn.com/w40/us.png" width="20" alt="US Flag" />
        <select id="country-code" class="border-0 bg-dark text-white">
          <option value="+1">+1</option>
          <option value="+351">+351</option>
          <option value="+44">+44</option>
          <option value="+55">+55</option>
        </select>
      </span>
      <input
        type="tel"
        class="form-control bg-dark text-white"
        name="phone"
        placeholder="Phone Number"
        required
      />
    </div>

    <label class="form-label text-white">Name (Optional)</label>
    <input
      type="text"
      class="form-control bg-dark text-white mb-3"
      placeholder="Name"
    />

    <button type="submit" class="btn btn-custom btn-green w-100">Next</button>
  </form>
</div>
{% endblock %}
