{% extends 'app/layouts/base.html' %}
{% load static %}

{% block title %}Send Crypto{% endblock %}
{% block page_title %}Send Crypto{% endblock %}

{% block content %}
<h3 class="fw-bold text-white text-center" style="font-family: 'Inter', sans-serif;">
    Sending $XX USDC
</h3>

  <!-- Imagens sobrepostas -->
  <div class="position-relative d-flex justify-content-center my-4">
    <img
      src="{% static 'app/images/red_card.png' %}"
      width="200"
      class="img-fluid rounded"
    />
    <img
      src="{% static 'app/images/avalanche_logo.png' %}"
      width="100"
      class="img-fluid position-absolute"
      style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
    />
  </div>

  <form method="POST" class="mx-auto" style="max-width: 300px">
    {% csrf_token %}

    <label class="form-label text-white text-start d-block" style="font-size: 14px">Phone Number</label>
    <div class="d-flex align-items-center mb-3">
      <div class="me-2 position-relative" style="width: 110px">
        <span
          class="position-absolute"
          style="top: 50%; left: 10px; transform: translateY(-50%)"
        >
          <img
            id="country-flag"
            src="https://flagcdn.com/w40/us.png"
            width="20"
            alt="Country Flag"
          />
        </span>
        <select
          id="country-code"
          name="country_code"
          class="form-control text-white bg-transparent text-center ps-5"
          style="border: 1px solid white; outline: none; font-size: 14px"
        >
          {% for code, country in country_list %}
          <option
            value="{{ code }}"
            data-flag="https://flagcdn.com/w40/{{ country.lower }}.png"
          >
            {{ code }}
          </option>
          {% endfor %}
        </select>
      </div>

      <input
        type="tel"
        class="form-control text-white bg-transparent"
        style="border: 1px solid white; outline: none; font-size: 14px"
        name="phone"
        placeholder="Phone Number"
        required
      />
    </div>

    <label
      class="form-label text-white text-start d-block mt-4"
      style="font-size: 14px"
    >
      Name (Optional)
    </label>

    <input
      type="text"
      class="form-control text-white bg-transparent mb-3"
      style="border: 1px solid white; outline: none; font-size: 14px"
      placeholder="Name"
    />

    <button
      type="submit"
      class="btn btn-custom w-100 mt-3"
      style="background-color: #E84142; color: white; border-radius: 8px"
    >
      Next
    </button>
  </form>
</div>

<script>
  document
    .getElementById("country-code")
    .addEventListener("change", function () {
      let selectedOption = this.options[this.selectedIndex];
      let flagUrl = selectedOption.getAttribute("data-flag");
      document.getElementById("country-flag").src = flagUrl;
    });
</script>

{% endblock %}
