{% extends 'app/layouts/base.html' %} {% load static %}
<!-- Carregar arquivos estáticos -->

{% block title %} Withdraw Crypto {% endblock %} {% block content %}
<div class="text-center">
  <h2 class="fw-bold">Withdraw Crypto</h2>

  <div class="position-relative d-flex justify-content-center my-4">
    <img
      src="{% static 'app/images/red_card.png' %}"
      width="200"
      class="img-fluid rounded"
    />

    <img
      src="{% static 'app/images/avalanche_logo.png' %}"
      width="100"
      class="img-fluid position-absolute"
      style="top: 50%; left: 50%; transform: translate(-50%, -50%)"
    />
  </div>

  <p class="mt-3 text-white">Sol | USDC</p>

  <form method="POST">
    {% csrf_token %}
    <input
      type="number"
      id="withdrawAmount"
      class="form-control text-center text-white bg-dark border-0 display-4 fw-bold my-3"
      placeholder="Enter amount"
      required
    />

    <p
      style="
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0;
        line-height: auto;
        text-align: center;
        font-color: #ffffff;
      "
    >
      Balance: <span id="cryptoBalance">Loading...</span> Sol
    </p>

    <button
      type="submit"
      class="btn btn-custom w-100"
      style="background-color: #f53848; color: white"
    >
      Next
    </button>
  </form>
</div>
{% endblock %}
